__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
venv/
env/
.venv/
*.venv

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Rapports générés
*.docx
*.csv

# IDE
.vscode/
.idea/
*.swp
*.swo
